[submodule "External/the-grid/ImgFlo.swift"]
	path = External/the-grid/ImgFlo.swift
	url = https://github.com/the-grid/ImgFlo.swift.git
[submodule "External/soffes/Crypto"]
	path = External/soffes/Crypto
	url = https://github.com/soffes/Crypto.git
